body {
  font: 16px arial;
  background-color: #c0c0c0;
  background: url(images/site.jpg) fixed center top;
  background-size: cover;
}

p {
  line-height: 1.5em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  background-color: rgba(255,255,255,.5);
}

.background {
  border: 3px solid darkred;
  min-height: 200px;
}

.bg-example {
  min-height: 420px;
  /*background-color: #663399;*/
  background-image: url(images/tile-back.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 272px 193px;

  background: url(images/tile-back.png) repeat-x center #663399;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-example h1 {
  margin: 0;
  font-size: 3em;
  color: #663399;
  text-shadow: 2px 2px 1px black;
}

.bg-multi {
  min-height: 250px;
  background:
    url(images/sheep.png) no-repeat 540px 120px,
    url(images/sky.png)
  ;
  transition: all 1s linear;
}

.bg-multi:hover {
  background-position: 95px 120px, 100px 0;
}

.list-style {
  list-style-image: url(images/heart.png);
  padding-left: 25px;
}

.svg {
  width: 200px;
  height: 200px;
}

.bg-svg {
  background: url(images/logo.svg);
  background-size: 140px;
}

.pdf {
  background: url(images/pdf.png) no-repeat right center;
  padding-right: 25px;
  color: red;
}

.bg-size {
  background: url(images/sva.png) no-repeat center;
  background-size: 200px;
}











/**/
